.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  .sidebar {
    width: 14%;
    @media screen and (max-width: 1400px) {
      width: 20%;
    }
    @media screen and (max-width: 1024px) {
      width: 30%;
    }
  }
  .content {
    width: 86%;
    @media screen and (max-width: 1400px) {
      width: 80%;
    }
    @media screen and (max-width: 1024px) {
      width: 70%;
    }
  }
}
