.LoginPage {
  display: flex;
  flex-direction: row;

  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  .LoginDecoration {
    position: relative;
    height: 100%;
  }
  .login-content {
    align-self: center;
    margin: auto;
  }
}
