.searchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  width: 477px;
  margin-right: 60px;
  background: #ffffff;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  border-radius: 8px;
  float: right;
  img {
    margin-top: auto;
    padding: 7.5px 0 6.5px 11px;
  }
  input {
    height: 94%;
    width: 80%;
    margin-left: 22px;
    padding: 0;

    outline: none;
    border: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #072c5e;
  }
}
