.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 45px;
  border-right: 2px solid #dadada;
  .option-menu {
    width: 100%;
    h2 {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.58);
      img {
        margin-left: 16px;
      }
      .menu-header-text {
        font-family: SF Pro Display;
        font-size: 10px;
        line-height: 12px;
        margin-left: 7px;
      }
    }
    ul {
      width: 100%;
      padding: 0;
      margin-bottom: 32px;
      list-style: none;
      li {
        width: 100%;
        padding: 16px 0 16px 0;
        color: #c4c4c4;
        cursor: pointer;
        transition: 200ms ease;
        text-align: left;
        img {
          float: left;
          margin-left: 33px;
          margin-right: 15px;
        }
        &.option-menu-focused {
          background-color: #072c5e;
          color: #ffffff;
        }
        &:hover {
          background: linear-gradient(90deg, #072d5e7e, #072d5eb7);
          color: #ffffff;
          transition: 200ms ease;
        }
      }
    }
  }
  // FIXME Settings should be on the bottom of the page
  .settings {
    display: flex;
    width: 100%;
    align-self: flex-end;
    border-top: 4px solid rgba(0, 0, 0, 0.07);
    padding-top: 21px;
    float: left;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    img {
      margin-left: 16px;
    }
    span {
      margin-left: 8px;
      font-family: SF Pro Display;
      font-size: 14px;
      line-height: 12px;
      color: rgba(0, 0, 0, 0.58);
    }
  }
}
