.logo-header {
  display: flex;
  margin: 0 21px 110px;
  width: 50%;

  h1 {
    margin-left: 30px;
    font-family: "SF Pro Display";
    text-align: left;
    font-size: 18px;
    line-height: 19px;
    color: #282121;
    border-radius: 4px;
  }
}
