.LoginForm {
  h1 {
    font-family: Product Sans;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 79px;

    color: #474ebb;
  }
  h2 {
    font-weight: 300;
  }
  input {
    height: 46px;
    width: 100%;
    font-size: 2em;
    padding: 16px 8px 16px 8px;
    text-align: center;
    font-family: Product Sans;
    font-weight: 500;
    outline: none;
    border-radius: 8px;
    border: 2px solid #474ebb;
    background: #ffffff;
    color: #828282;
    border-color: #828282;
    &:focus {
      color: #474ebb;
      border-color: #474ebb;
    }
  }
  #email {
    input {
      margin-bottom: 36px;
    }
  }
  div#login {
    input {
      margin-top: 66px;
      padding: 13px 90px 13px 90px;

      font-size: 18px;
      line-height: 22px;
      font-weight: 900;
      letter-spacing: 0.035em;
      color: #ffffff;

      cursor: pointer;
      background: #04347f;
      border: 0;
      outline: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      &:active {
        border: 1px solid #000000;
      }
    }
  }
  div#forgotPassword {
    margin-top: 64px;
    a {
      font-size: 16px;
      letter-spacing: 0.035em;
      line-height: 19px;

      color: #000000;
      font-size: 1.2em;
      text-decoration: none;
    }
  }
}
