.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88px;
    width: 100%;
    padding-left: 28px;
    border-bottom: 2px solid #dadada;
    transition: 300ms ease;
    @media screen and (max-width: 1400px) {
      height: 112px;
      flex-direction: column;
      transition: 300ms ease;
      .searchbox {
        width: 100%;
        margin: auto;
      }
    }
    h1 {
      text-align: left;
      margin-left: 0;
      width: 50%;
      font-family: SF Pro Display;
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;

      color: #282121;
      transition: 300ms ease;
      @media screen and (max-width: 1024px) {
        width: 100%;
        font-size: 26px;
        text-align: center;
        transition: 300ms ease;
      }
    }
    .content-header-side {
      width: 100%;
    }
  }
  .main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    transition: 300ms ease;
    @media screen and (max-width: 1400px) {
      flex-direction: column;
      margin: auto;
      width: 50%;
      transition: 300ms ease;
    }
    @media screen and (max-width: 1024px) {
      width: 70%;
      transition: 300ms ease;
    }
    .action-grid-item {
      display: block;
      flex-grow: 1;
      height: 100%;
      img {
        position: relative;
        left: -34%;
        top: 80px;
        z-index: -1;
      }
      .action-grid-item-content {
        height: 71px;
        width: 180px;
        margin-left: 80px;
        padding: 18px 33px 11px 34px;
        background: #fdfdfd;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        h2 {
          margin: 0;
          font-family: SF Pro Display;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          text-align: left;

          color: #000000;
        }
        p {
          display: flex;
          align-items: center;
          margin-top: 8px;

          font-family: SF Pro Display;
          font-size: 13px;
          font-weight: 500;
          line-height: 16px;
          text-align: left;

          color: #000000;

          mix-blend-mode: normal;
          opacity: 0.34;
        }
      }
    }
  }
}
